body {
	font-family: 'Playfair Display', serif;
	/*margin: 0 auto;*/
	height: 100%;
}


.header {
	width: 100%;
	/*height: 50vh;*/
	height: 475px;
	min-height: 350px;
	font-family: 'Playfair Display', serif;
	background-image: url(HeavyRain.png);
	/*background-image: url(https://images.unsplash.com/photo-1424798985931-3325521d26e6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80);*/
	background-image: url(https://i.imgur.com/00Qy8Bj.jpg);
	background-position: center;
	background-size: cover;
	box-shadow: 0px 2px 100px rgba(13, 13, 13, 0.85);
	overflow-wrap: break-word;

}

.headername, .headertag {
	color: rgb(235, 235, 235);
}

.headername {
	/*Mobile Photography*/
	position: absolute;
	bottom: 535px;
	left: 20px;
	font-size: 50px;
	overflow-wrap: hidden;
	margin: 0 auto;
}

.headertag {
	/*why it's dope*/
	position: absolute;
	bottom: 510px;
	left: 20px;
	font-size: 20px;
	text-transform: lowercase;
	letter-spacing: 3px;
	font-style: italic;
	margin: 0 auto;
}


.optiontitle {
	/*what you'll need*/
	width: 100%;
	height: 165px;
	padding-top: 90px;
	position: relative;
	text-align: center;
	padding-top: 90px;
	font-family: 'Playfair Display', serif;
	font-size: 60px;
	text-transform: capitalize;
}

.button {
	/*sub for more?*/
	width: 375px;
	height: 60px;
	margin: 0 auto;
	position: relative;
	background-color: orange;
	border: none;
	border-radius: 25px;

}

#buttonwords {
	/*css the pill button*/
	text-align: center;
	font-family: 'Nunito', serif;
	text-transform: lowercase;
	position: relative;
	display: flex;
	justify-content: center;
	padding: 10px 20px;
	/*margin: 12px 50px;*/
}

.button:hover {
	transform: scale(1.05);
	/*transiton?*/
	transition: 1s;
	/*black shadow*/
	box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.35);
	cursor: pointer;
}


.actualoptionscontainer {
	/*container for options*/
	width: 100%;
	min-height: 45vh;
	background-image: linear-gradient(#ffffff12, #3f6dbd5c);
	background-size: cover;
	overflow-y: auto;
	/*min-height: 1100px;*/
}

.actualoptionscontainer > div {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	/*flex-shrink: 3;*/
	flex-basis: auto;
	padding-top: 25px;
}

.pic1, .pic2, .pic3 {
	/*just effects images within options*/
	width: 250px;
	min-width: 250px;
	height: 250px;
	white-space: normal;
	border-radius: 50%;
	margin: 20px;
	background-size: cover;
	background-position: center;
	border: solid 5px white;
	box-shadow: 0px 15px 50px rgba(13, 13, 13, 0.50);
}

.pic1:hover, .pic2:hover, .pic3:hover {
	/*hover effect only on images within options*/
	transform: scale(1.05);
	/*transiton?*/
	transition: 1s;
	/*black shadow*/
	box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.75);
	cursor: pointer;

}


#option1, #option2, #option3 {
	text-align: center;
}

.pic1 {
	background-image: url(https://images.unsplash.com/photo-1523206489230-c012c64b2b48?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80);
}

.pic2 {
	background-image: url(https://images.unsplash.com/photo-1457464901128-7608dc7561ea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
}

.pic3 {
	background-image: url(https://images.unsplash.com/photo-1526556838038-5d9deb7998bd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80);
